body {
    background-color: #a85ae9;
    flex: 1 0 auto;
}

.container {
    width:  50%;
    margin: auto;
    padding: 20px;
    background-color: #fafafa;
    -webkit-box-shadow: 13px 13px 13px 13px rgba(0, 0, 0, 0.21);
    box-shadow: 13px 13px 13px 13px rgba(0, 0, 0, 0.21);
    font-size: large;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}

.CenterTable {
    margin: auto;
    border: 1px;
}

h1 {
    text-align: center;
    border-top:  3px solid;
    border-bottom:  5px solid;
}

a {
    color: black;
    text-decoration: none;
    padding: 5px;
    
}

a:hover {
    background-color: rgb(233, 233, 233);
}

#artistSearchLink {
    padding: 0px;
}

audio {
    margin: auto;
}

#LoginDiv {
    text-align: center;
}

.audioDiv {
    margin: auto;
    text-align: center;
    background-color: #fafafa;
}

.sidebar {
    border-style: dashed;
    border-bottom: 2px solid;
}

#MainDiv {
    text-align: center;
}

#FormDiv {
    padding: 20px; 
}

#DeleteDiv {
    text-align: center;
    padding: 20px;
}

#UpperHeader {
    text-align: right;
    padding-right: 50px;
}

#RegisterDiv {
    margin: auto;
}


.footer {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    align-self: flex-end;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    position: relative;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    flex: 0 0;
}

.trackBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 3px solid;
    margin: 5px;
}

.artistBox {
    padding: 10px;
}

.titleBox {
    padding: 10px;
}


.editLinkBox {
    padding: 10px;
}

.deleteLinkBox {
    padding: 10px;
}


