body {
    background: linear-gradient( rgb(113, 1, 128), rgb(155, 148, 54));
    flex: 1 0 auto; 
    min-height: 100vh;
}

.container {
    width:  50%;
    margin: auto;
    padding: 20px;
    padding-top: 5px;
    -webkit-box-shadow: 13px 13px 13px 13px rgba(0, 0, 0, 0.21);
    box-shadow: 13px 13px 13px 13px rgba(0, 0, 0, 0.21);
    font-size: large;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    border-radius: 15px;
}

#Search-Area input[type=text] {
    border:2px solid rgb(146, 146, 146); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    margin-right: 20px;
}

#Search-Area input[type=text]:focus {
    border-color: black;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    margin-right: 20px;
}

#Search-Area input[type=submit] {
    padding:5px 20px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

#Search-Area input[type=submit]:hover {
    padding:5px 20px; 
    background:rgb(155, 155, 155); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}


.CenterTable {
    margin: auto;
    border: 1px;
}

.CenterTable td{
    padding: 5px;
}

h1 {
    text-align: center;
    border-top:  3px solid;
    border-bottom:  5px solid;
    background-color: #bfa6fa;
    border-radius: 10px;
    border-right: 3px solid;
    border-left: 3px solid;
}



a {
    color: black;
    text-decoration: none;
    padding: 5px;
    
}

a:hover {
    background-color: rgb(233, 233, 233);
}

#artistSearchLink {
    padding: 0px;
}

audio {
    margin: auto;
}


#RegisterDiv input[type=text] {
    border:2px solid rgb(146, 146, 146); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    margin-right: 20px;
}

#RegisterDiv input[type=password] {
    border:2px solid rgb(146, 146, 146); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    margin-right: 20px;
}

#RegisterDiv input[type=text]:focus {
    border:2px solid rgb(146, 146, 146); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    margin-right: 20px;
}

#RegisterInput {
    padding:5px 20px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    margin: auto;
}

#RegisterInput:hover {
    padding:5px 20px; 
    background:rgb(155, 155, 155); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}



#LoginDiv {
    text-align: center;
}

#LoginDiv input[type=text] {
    border:2px solid rgb(146, 146, 146); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    margin-right: 20px;
}

#LoginDiv input[type=password] {
    border:2px solid rgb(146, 146, 146); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    margin-right: 20px;
}

#LoginDiv input[type=text]:focus {
    border:2px solid rgb(146, 146, 146); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    margin-right: 20px;
}

#LoginDiv input[type=submit] {
    padding:5px 20px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

#LoginDiv input[type=submit]:hover {
    padding:5px 20px; 
    background:rgb(155, 155, 155); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

#FormDiv {
    padding: 20px; 
    text-align: left;
}

#FormDiv input[type=text] {
    border:2px solid rgb(146, 146, 146); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    margin-right: 20px;
    text-align: center;
    
}

#FormDiv select {
    border:2px solid rgb(146, 146, 146); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    margin-right: 20px;
    text-align: center;
}

#FormDiv input[type=text]:focus {
    border:2px solid rgb(146, 146, 146); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    margin-right: 20px;
    text-align: center;
}

#FormDiv input[type=submit] {
    padding:5px 20px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

#FormDiv input[type=submit]:hover {
    padding:5px 20px; 
    background:rgb(155, 155, 155); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
}

#FormDiv label{
    text-align: left;
    
}

.audioDiv {
    margin: auto;
    text-align: center;
    background-color: #fafafa;
}

.sidebar {
    border-bottom: 2px solid;
    padding: 10px;
    padding-right: 48px;
    text-align: right;
}

.sidebar a {
    background-color: #fafafa;
}

#MainDiv {
    text-align: center;
}

#DeleteDiv {
    text-align: center;
    padding: 20px;
}

#UpperHeader {
    text-align: right;
    padding-right: 50px;
}

#Search-Area {
    padding: 20px;
}


#RegisterLink {
    margin: auto;
    padding: 20px;
}

#LoginLink {
    margin: auto;
    padding: 20px;
}


.footer {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    align-self: flex-end;
    font-family: 'Akshar', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: large;
    position: relative;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    flex: 0 0;
}

.trackBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 3px solid;
    margin: 5px;
}

.artistBox {
    padding: 10px;
}

.titleBox {
    padding: 10px;
}

.editBox {
    padding: 10px;
}