{% extends 'base/main.html' %}
{% block content %}

<h1>MusicPlayer</h1>

<div id="UpperHeader">
    {% if request.user.is_authenticated %}
        <p>Welcome, {{request.user}}!</p>
        <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'login' %}">Логин</a>
    {% endif %}
</div>
<hr>



<div id="MainDiv">
    <div class="sidebar">
        <a href="{% url 'myTracks' %}">Мои треки</a>
        <a href="{% url 'tracks' %}">О сайте</a>
    </div>
    <p>Tracks:</p>  

    <form method="GET">
        <input type='text' name='search-area' value="{{search_input}}" >
        <input type="submit" value='Поиск'>
    </form>
</div>

<div class="trackBox">
    <div class="artistBox">
        {% for track in tracks %}
            <a href="https://www.google.com/search?q={{track.artist}}" id="artistSearchLink" target="_blank"><p>{{track.artist}}</p></a>
            {% empty %}
            <h3>Список пуст.</h3>
        {% endfor %}
    </div>

    <div class="titleBox">
        {% for track in tracks %}
        <p><a href="{% url 'track' track.id %}">{{track.title}}</a></p>
        {% endfor %}
    </div>

    <div class="editLinkBox">
        <form method="GET">
            {% for track in tracks%}
                <p><input type="submit" name='track-area' value="{{request.user}}"></p>
            {% endfor %}
        </form>
    </div>
</div>

{% endblock content %}