


{% if request.user.is_authenticated%}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Logout</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}
<hr>
<h1>My Tracks</h1>


<a href ="{% url 'track-create'%}">Add Track</a>
<table>
    <tr>
        <th>Tracks:</th>
        <th></th>
        <th></th>
    </tr>
    {% for track in tracks%}
    <tr>
        <td>Название: {{track.title}}</td>
        <td><a href="{% url 'track' track.id %}">View</a></td>
        <td><a href="{% url 'track-update' track.id %}">Edit</a></td>
        <td><a href="{% url 'track-delete' track.id %}">Delete</a></td>
    {% empty %}
    <h3>No items in list</h3>
    {% endfor %}
</table>