{% extends 'base/main.html' %}
{%  block content %}

<h1>Track: {{track.title}}</h1>
<a href="{% url 'tracks' %}">Go Back</a>
<table>
    <tr>
        <td>Исполнитель:</td>
        <td>{{track.artist}}</td>
    </tr>
    <tr>
        <td>Жанр:</td>
                {%for item in track.genre.all%}
                <td>{{item}};</td>
                {% endfor %}
    </tr>   
    <tr>
        <td>
            <audio src="file:///C:/Users/GoodWin/Desktop/ISP2022/musicPlayer/base/musics/a.mp3" type="audio/mpeg" controls></audio>
        </td>
    </tr>
</table>

{% endblock content %} 